* {
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

i {
  color: #4dabf7;
}

.flags {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.flagIcon {
  height: 24px;
  border: 1px solid #000;
  border-radius: 5px;
}

.bg-img {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.8)
    ),
    url(https://hoantqfx20959.github.io/cv-tranquochoan/images/banner.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
}

.textShadow {
  text-shadow: 0px 0px 10px #d6c08d, 0px 0px 20px #d6c08d, 0px 0px 40px #d6c08d;
}

#nav {
  display: flex;
  justify-content: center;
}

#nav-img {
  width: 15%;
}

#avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 5px solid #f1f3f5;
  border-radius: 50%;
  box-shadow: 0 0 5px rgb(0 0 0 / 25%);
}

#navbar i {
  padding: 0.5rem;
}

.whiteSpace-preLine {
  white-space: pre-line;
}

.skill-span-1,
.skill-span-2 {
  background: #199cdb;
  display: inline-block;
  margin-right: 10px;
  width: 45px;
}

.skill-span-1 {
  height: 3px;
}

.skill-span-2 {
  height: 1px;
}

.certificate:nth-child(even) > div::after {
  content: '';
  background-color: #d6c08d;
  position: absolute;
  left: 0;
  width: 1px;
  height: 100%;
}

.certificate:nth-child(even) > div::before {
  content: '';
  background-color: #d6c08d;
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(200%);
  height: 1px;
}

@media (max-width: 768px) {
  #nav {
    display: flex;
    flex-direction: column;
  }

  .certificate:nth-child(even) > div::after {
    display: none;
  }

  .certificate > div::before {
    content: '';
    background-color: #d6c08d;
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(100%) !important;
    height: 1px;
  }

  .certificate:last-child > div::before {
    display: none;
  }
}

@media (max-width: 992px) {
  #nav {
    display: flex;
    justify-content: center;
  }

  #nav-img {
    display: none;
  }
}
